{% extends 'base.html' %}
{% block title %}
List
{% endblock title %}
<body>
{% block content%}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </thead>
            <tbody>
                {% for i in receipt_list %}
                <tr>
                    <td>{{ i.vendor }}</td>
                    <td>{{ i.total }}</td>
                    <td>{{ i.tax }}</td>
                    <td>{{ i.date|date:"m/d/y" }} </td>
                    <td>{{ i.category.name }}</td>
                    <td>{{ i.account.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    {% endblock content %}
</body>
</html>
